.footer {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 0.5fr;
  z-index: 99999;

  ul {
    display: flex;
    gap: 12px;
    li {
      justify-content: center;
    }
  }
  &-dark {
    a {
      color: var(--color-base-white-100);
    }
    .logo {
      height: auto;
      fill: var(--color-base-white-100);
      width: 75%;
    }
  }
  &-light {
    color: var(--color-base-blue-600);

    .logo {
      height: auto;
      fill: var(--color-base-blue-600);
    }
  }
}
